.run/**
workspaces/**
workshop/**
local/**
metrics/**
bin/**
**/.idea
**/*.iml
**/target
**/.classpath
**/.project
**/.settings
**/*.log
**/logs
**/*.*log
**/generated
**/.DS_Store
.github/workflows/release.yml
docsys/src/main/node/docsys/antlr/CqlLexer.js
docsys/src/main/node/docsys/antlr/CqlParser.js
engine-cli/src/main/resources/docker-metrics.md
